
.colorizer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.colorizer .box {
  width: 13rem;
  height: 13rem;
  padding: 50px;
  margin: 20px;
  border: 0.1px solid black ;
  border-radius: 5px;


}
.colorizer button {
  cursor: pointer;

}

